<html>

<head>
    <meta charset="utf-8">
    <style>
        body {
          width: 100px;
          margin-left: auto;
          margin-right: auto;
          padding-right: 100px;
          padding-top: 80px;
        }
        .pln {
         padding-left: 80px; 
         white-space: nowrap; 
        }
    </style>
</head>

<body >
    <label>
    Брутто  
    <br>
    <input type="text" size="20" id="brutto"></input>
    </label>
    <br><br><br>
    <label></label>
    Нетто 
     <br>   
    <input type="text" size="20" id="netto"></input>
    </label>
    <br><br>
     <h3 id="usd">USD</h3>   
     <br>
     <div id="pln" class="pln">1$ = {{PLN}} zł</div>
</body>

<script>
  document.getElementById('brutto').onchange = function() {
let v = {{PLN}};
let brut = document.getElementById('brutto').value;
let usd = +brut/+v/1.23;
document.getElementById('usd').innerHTML = 'USD  ' + Math.round((+brut/+v/1.23)*100)/100;
document.getElementById('netto').value = Math.round((+brut/1.23)*100)/100;
  }

  document.getElementById('netto').onchange = function() {
let v = {{PLN}};
let netto = document.getElementById('netto').value;
let usd = +netto/+v;
document.getElementById('usd').innerHTML = 'USD  ' + Math.round((usd)*100)/100;
document.getElementById('brutto').value = Math.round((+netto*1.23)*100)/100;
  }
</script>

